h1{
    color:crimson;
    font-style: oblique;
    text-align: center;
}
h2{
    color:darkseagreen;
    font-style: oblique;
    text-align: center;
    font-size: 30px;
}
h3{
    color:darkgoldenrod;
    font-style: oblique;
    font-size: 25px;
}
p{
    color: black;
    text-align: center;
    font-size:17px ;
}
ol{
    text-align: center;
    list-style-position: inside;
}